<!DOCTYPE html>
<html lang="en">
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link href={{ url_for('static', filename='css/login.css') }} rel="stylesheet">
</head>
<body>
    <div class="wrapper fadeInDown">
        <div id="formContent">
          <!-- Tabs Titles -->

    
      
          <!-- Login Form -->
          <form action="/login" method="POST">
            <input type="text" id="login" class="fadeIn second" name="correo" placeholder="Correo.">
            <input type="text" id="password" class="fadeIn third" name="contraseña" placeholder="Contraseña.">
            <input type="submit" class="fadeIn fourth" value="Log In">
          </form>

          {% with messages = get_flashed_messages(with_categories=true) %}
            {% for category, message in messages %}
                <div class="{{ category }}">{{ message }}</div>
            {% endfor %}
            {% endwith %}
      
        
      
        </div>
      </div>
      
</body>
</html>





  