{% extends "layout.html" %}
{% block body %}
<div id="form_reservar">
{% with messages = get_flashed_messages(with_categories=true) %}
  {% for category, message in messages %}
    <div class="{{ category }}">{{ message }}</div>
  {% endfor %}
{% endwith %}
    {% for dato in datos %}

    <form action="/reserva-preview/{{ dato[0] }}" method="POST">
        <br>
        <select class="custom-select" name="id_sala" required>
            <option value={{ dato[1] }}>{{ dato[2] }}</option>
            {% for sala in salas %}
            <option value={{ sala[0] }}>{{ sala[1] }}</option>
            {% endfor %}
        </select>
        <br>
        <br>
        <label for="">Fecha: </label>
        <input type="date" value='{{ dato[3] }}' name="fecha" required min="01-01-2020" max="12-12-2090">
        <br>
        <label for="">Hora inicio: </label>
        <input type="time" value="{{ dato[4] }}" name="hora_inicio" required>
        <br>
        <label for="">Hora final: </label>
        <input type="time" value="{{ dato[5] }}" name="hora_final" required>
        <br>
        <button type="submit" class="btn btn-primary">Actualizar Reserva.</button>
    </form>
    {% endfor %}

    {% endblock %}